:root {
  /* font */
  --font-main: "Satoshi", "IBM plex sans", system-ui, -apple-system, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-headings: var(--font-main);
  /* font-sizes */
  --fs-small: var(--font-size-0); /* .75rem */
  --fs-regular: var(--font-size-1); /* 1rem - 16px */
  --fs-large: var(--font-size-3); /* 1.25rem */
  --fs-xl: var(--font-size-4); /* 1.5rem */
  --fs-2xl: var(--font-size-5); /* 2rem */
  /* fluid font-sizes */
  --fs-f-regular: var(--font-size-fluid-1);
  --fs-f-large: var(--font-size-fluid-2);
  --fs-f-xl: var(--font-size-fluid-3);

  /* colors */
  --c-bg: hsl(0, 0%, 12%);
  --c-bg-alt: hsl(270, 94%, 12%);
  --c-text: hsl(240, 20%, 99%);
  --c-text-alt: hsl(0, 0%, 0%);
  --c-muted: hsl(0, 0%, 60%); /* or #a19cb0 */
  --c-muted-dark: hsl(0, 0%, 40%);
  --c-light: hsl(271, 35%, 70%);
  --c-grayscale: var(--c-text); /* black or white */
  --c-grayscale-alt: var(--c-text-alt);
  --c-accent1: hsl(260, 100%, 58%);
  --c-accent2: hsl(270, 94%, 12%);

  --container-w: calc(100vw - 1rem);
  --container-w-large: min(90%, 71.25rem);

  --letter-gradient: linear-gradient(20deg, var(--c-accent1), #da77f2);
}

html {
  font-family: var(--font-main);
  font-weight: var(--font-weight-4);
  font-size: var(--fs-regular);
  color: var(--c-text);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--c-bg);
}

h1 {
  font-size: var(--fs-f-xl);
  font-weight: var(--font-weight-8);
}

h2 {
  font-size: var(--fs-f-large);
  font-weight: var(--font-weight-6);
}

h3,
h4,
h5,
h6 {
  font-size: var(--fs-f-regular);
  font-weight: var(--font-weight-4);
}

/* text only visible for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.bold {
  font-weight: var(--font-weight-6);
}
