---
import Layout from "@layouts/BaseLayout.astro";
import Card from "@components/Card.astro";
import MovingPicture from "@components/MovingPicture.astro";
---

<Layout
  title="Aaron Harinck | Creative developer portfolio"
  description="Looking to hire a creative website developer / digital marketeer? Aaron develops and designs digital front-end solutions."
>
  <main>
    <div class="intro">
      <header class="intro-header">
        <div class="intro-header-text">
          <h1>
            <span class="title--small">Aaron Harinck.</span>
            <span class="text-gradient">Creative</span> front-end developer, based
            in Belgium
          </h1>
          <p class="intro-text">
            I create kick-ass websites & apps, from design to code
          </p>
          <div class="buttons-wrapper">
            <a href="#contact" class="btn btn-link btn-primary">Get in touch</a>
            <a href="#about" class="btn btn-text btn-muted btn-icon">
              Scroll for more
              <svg class="icon icon-down">
                <use xlink:href="sprite.svg#arrow-down"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="intro-header-img">
          <MovingPicture />
        </div>
      </header>
      <div class="experience-banner">
        <h2 class="experience-title">Work experience</h2>
        <div class="experience-logos">
          <a
            href="https://studiohyperdrive.be/"
            target="_blank"
            rel="noreferer noopener"
          >
            <svg class="exp-logo" role="img">
              <title>Studio Hyperdrive</title>
              <use xlink:href="sprite.svg#logo-shd"></use>
            </svg>
          </a>

          <a
            href="https://www.wiseo.be/"
            target="_blank"
            rel="noreferer noopener"
          >
            <svg class="exp-logo" role="img">
              <title>Wiseo</title>
              <use xlink:href="sprite.svg#logo-wiseo"></use>
            </svg>
          </a>
          <a
            href="https://superkraft.be/"
            target="_blank"
            rel="noreferer noopener"
          >
            <svg class="exp-logo" role="img">
              <title>Superkraft</title>
              <use xlink:href="sprite.svg#logo-superkraft"></use>
            </svg>
          </a>
          <a
            href="https://www.durf2030.eu/"
            target="_blank"
            rel="noreferer noopener"
          >
            <svg class="exp-logo" role="img">
              <title lang="nl">Stad Kortrijk - Durf2030</title>
              <use xlink:href="sprite.svg#logo-stad-kortrijk"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <section id="about">
      <div class="about-container">
        <h2 class="sr-only">About me</h2>
        <p class="about-text-main">
          Hello! I'm Aaron, an easy-going
          <a
            href="https://www.devine.be/en/"
            target="_blank"
            rel="noopener noreferer"
            class="custom-underline"
            >digital design & development (Devine)
          </a>
          and
          <a
            href="https://www.arteveldehogeschool.be/opleidingen/postgraduaat/digital-marketing-communication"
            target="_blank"
            rel="noopener noreferer"
            class="custom-underline"
          >
            digital marketing & communication
          </a> graduate.
          <br />
          I develop custom digital experiences and solutions that are responsive,
          accessible, and SEO friendly.
        </p>
        <p class="about-text-sub">
          I also use data and competitor analysis to research and optimize
          customer conversions, and guide clients towards growth.
        </p>
        <a href="/about" class="btn btn-text btn-icon btn-light bold">
          Learn more about me
          <svg class="icon icon-right">
            <use xlink:href="sprite.svg#arrow-n-right"></use>
          </svg>
        </a>
      </div>
    </section>

    <section id="skills">
      <h2>My skills include...</h2>
    </section>

    <section id="projects">
      <h2>Highlighted projects</h2>
    </section>

    <section id="posts">
      <h2>Posts & more</h2>
    </section>

    <section id="contact">
      <h2>Get in touch</h2>
    </section>

    <section>
      <h2 class="card">Cards</h2>
      <ul role="list" class="link-card-grid">
        <Card
          href="https://docs.astro.build/"
          title="Documentation"
          body="Learn how Astro works and explore the official API docs."
        />
        <Card
          href="https://astro.build/integrations/"
          title="Integrations"
          body="Supercharge your project with new frameworks and libraries."
        />
        <Card
          href="https://astro.build/themes/"
          title="Themes"
          body="Explore a galaxy of community-built starter themes."
        />
        <Card
          href="https://astro.build/chat/"
          title="Chat"
          body="Come say hi to our amazing Discord community. ❤️"
        />
      </ul>
    </section>
  </main>
</Layout>

<style>
  :root {
    --letter-gradient: linear-gradient(20deg, var(--c-accent1), var(--grape-4));
  }

  main {
    margin: auto;
    padding: var(--size-fluid-2);
    background-color: var(--c-bg);
  }

  h1 {
    margin: 2rem 0;
    max-width: var(--size-content-1);
  }

  .title--small {
    font-size: var(--fs-f-regular);
    display: block;
    color: var(--c-muted);
  }

  .text-gradient {
    font-weight: var(--font-weight-8);
    background-image: var(--letter-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    animation: pulse 3.3s ease-in-out infinite;
  }

  .intro-text {
    line-height: 1.6;
    padding-block: var(--size-4);
    font-size: var(--fs-large);
  }

  .buttons-wrapper {
    margin-block: var(--size-6);
    display: flex;
    gap: var(--size-8);
  }

  /* buttons */
  .btn {
    padding: var(--size-3);
    display: inline-block;

    transition: 0.3s transform ease, 0.3s background-color ease;
  }
  a.btn,
  a.btn-text {
    text-decoration: none;
    color: var(--c-text);
  }
  .btn.btn-text {
    padding: var(--size-3) 0;
    font-size: var(--fs-large);
  }
  .btn.btn-primary {
    background-color: var(--c-accent1);
    font-size: var(--fs-large);
    font-weight: var(--font-weight-6);
    border: var(--size-1) solid var(--c-accent1);
    border-radius: var(--radius-2) var(--radius-3) var(--radius-2)
      var(--radius-2);
  }
  .btn.btn-primary:hover,
  .btn.btn-primary:focus-visible {
    background-color: var(--c-accent2);
    transform: scale3d(1.1, 1.1, 1);
  }

  .btn-text.btn-muted {
    color: var(--c-muted);
  }
  .btn-text.btn-light {
    color: var(--c-light);
  }

  /* icons */
  .btn.btn-icon {
    display: flex;
    gap: var(--size-2);
    align-items: center;
  }
  .btn .icon {
    height: var(--size-5);
    width: var(--size-5);
    transition: 0.3s transform cubic-bezier(0.47, 0.48, 0.39, 2.16);
  }
  .btn .icon-down {
    height: var(--size-3);
    width: var(--size-3);
  }
  .btn:hover .icon-down {
    transform: translateY(var(--size-1));
  }
  .btn:hover .icon-right {
    transform: translateX(var(--size-2));
  }

  /* experience */
  .experience-banner {
    max-width: min(90%, 60rem);
    margin-inline: auto;
    margin-block: var(--size-8);
    text-align: center;
    color: var(--c-muted);
  }
  .experience-title {
    font-size: var(--fs-regular);
    margin-block-end: var(--size-6);
  }
  .experience-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--size-8);
  }
  .experience-logos .exp-logo {
    fill: var(--c-muted);
    color: var(--c-muted);
    width: var(--size-12);
    max-height: var(--size-8);
    transition: 0.3s color ease, 0.3s all ease;
  }
  .exp-logo:hover,
  .experience-logos:focus-visible a:focus-visible {
    fill: var(--c-text);
    color: var(--c-text);
  }

  /* about */
  .about-container {
    margin-block: var(--size-11);
    padding-block: var(--size-3);
    max-inline-size: min(65ch, 95%);
    margin-inline: auto;
  }
  .about-text-main {
    font-size: var(--fs-xl);
    font-weight: var(--font-weight-6);
    line-height: var(--font-lineheight-4);
  }

  .about-text-sub {
    max-inline-size: var(--size-content-2);
    margin-block: var(--size-7);
  }

  /* about underline */
  /* hover line animation */
  a.custom-underline {
    text-decoration: none;
    color: var(--c-light);
    font-style: italic;
    padding-bottom: var(--size-2);
    transition: all 0.3s ease;
    background-image: linear-gradient(
      to left,
      var(--c-accent1),
      var(--c-accent1)
    );
    background-size: 0 var(--size-1);
    background-repeat: no-repeat;
    background-position: left 100%;
  }

  a.custom-underline:hover,
  a.custom-underline:focus-visible {
    background-size: 100% var(--size-1);
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  @media (min-width: 48em) {
    .intro-header {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;
      max-inline-size: var(--container-w-large);
      margin-inline: auto;
    }

    .intro-text {
      max-width: var(--size-content-1);
    }

    .intro-header-text {
      flex: 4;
    }

    .intro-header-img {
      flex: 3;
    }
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
    color: var(--c-accent1);
  }
</style>
