---
import Layout from "@layouts/BaseLayout.astro";
import IntroSection from "@components/IntroSection.astro";
import AboutSection from "@components/AboutSection.astro";
import SkillsSection from "@components/SkillsSection.astro";
import ProjectsSection from "@components/ProjectsSection.astro";
import PostsSection from "@components/PostsSection.astro";
import ContactSection from "@components/ContactSection.astro";
---

<Layout
  title="Aaron Harinck | Creative developer portfolio"
  description="Looking to hire a creative website developer / digital marketeer? Aaron develops and designs digital front-end solutions."
>
  <main id="main-content">
    <IntroSection />

    <AboutSection />

    <SkillsSection />

    <ProjectsSection />

    <PostsSection />

    <ContactSection />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: var(--size-fluid-2);
    background-color: var(--c-bg);
  }

  h1 {
    margin: 2rem 0;
    max-width: var(--size-content-1);
  }

  @media (min-width: 48em) {
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
    color: var(--c-accent1);
  }
</style>
