---
---

<section id="contact" class="contact">
  <div class="contact-content">
    <div class="contact-text-wrapper">
      <h2 class="contact-title">Get in touch</h2>
      <p class="contact-text">
        Do you want to hire me, tell me about your (future) project(s), or do
        you have a question for me?
      </p>
      <p class="contact-text contact-text--light">
        I'm always open for
        <span lang="nl">"een klappeke in het Nederlands"</span>
        or
        <span lang="en">"a chat in English"</span>
      </p>
      <p class="contact-text">
        If you prefer, you can also just send me an e-mail at <br />
        <a
          href="mailto:work.aaronharinck@outlook.com?subject=Contact from aaronharinck.be"
          class="contact-text-link"
        >
          work.aaronharinck@outlook.com
        </a>
      </p>
    </div>
    <form
      name="contact"
      method="POST"
      class="contact-form"
      data-netlify="true"
      netlify-honeypot="test-field"
    >
      <!-- action="/pages/success" -->
      <div class="test-field">
        <label>
          Refrain from filling this in if you're human: <input
            name="test-field"
            type="text"
            autocomplete="off"
          />
        </label>
      </div>
      <div>
        <label for="form_identifier">Your name (or company)</label>
        <input type="text" id="form_identifier" name="identifier" minlength="2"
        />
      </div>
      <div>
        <label for="form_mail">Your email address</label>
        <input
          type="email"
          id="form_mail"
          name="email"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <label for="form_msg">Message:</label>
        <textarea
          id="form_msg"
          name="message"
          placeholder="Tell me about open positions in your company or about your project(s)."
          autocomplete="off"
          minlength="6"
          maxlength="10000"
          required></textarea>
      </div>
      <div>
        <button class="btn btn-primary form-button" type="submit">
          Send message
        </button>
      </div>
    </form>
  </div>
</section>

<style>
  .contact {
    padding-block: var(--size-6);
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-7);
  }

  .contact-title {
    font-size: var(--fs-f-xl);
    margin-block: var(--size-4) var(--size-7);
  }

  .contact-text-wrapper p:first-child {
    font-weight: var(--font-weight-5);
  }

  .contact-text {
    max-width: var(--size-content-2);
  }

  .contact-text + .contact-text {
    margin-block: var(--size-3);
  }

  p.contact-text--light {
    color: var(--c-muted);
  }

  .contact-text-link {
    padding-block: var(--size-2) var(--size-3);
    font-size: var(--fs-large);
    font-weight: var(--font-weight-6);
    color: var(--c-text);
    text-decoration-thickness: var(--border-size-3);
    text-underline-offset: 0.4rem;
  }

  .contact-text-link:hover,
  .contact-text-link:focus-visible {
    color: var(--c-light);
    text-decoration-color: var(--c-accent1);
  }

  /* form */
  .contact-form label {
    display: flex;
    color: var(--c-muted);
    padding-block: var(--size-4) var(--size-2);
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: var(--size-3);
    width: min(var(--size-content-2), 100%);
    border-radius: var(--radius-2);
    border: solid var(--border-size-2) var(--c-text);
    background: hsl(0, 0%, 16%);
    color: var(--c-text);
    font-weight: var(--font-weight-5);
    max-width: 100%;
  }

  textarea {
    border-end-end-radius: var(--radius-4);
    min-height: var(--size-11);
  }

  textarea::-webkit-resizer {
    border-width: var(--size-1);
    border-style: solid;
    border-color: transparent var(--c-muted) var(--c-muted) transparent;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: var(--border-size-2) solid var(--c-accent1);
    border-color: var(--c-accent1);
  }

  .form-button {
    margin-block: var(--size-4);
    color: var(--c-text);
  }

  /* a confusing & elaborate css class a day keeps the imposters away */
  .contact .contact-form > div.test-field:nth-child(1) {
    display: none;
  }

  @media (min-width: 48em) {
    .contact {
      max-inline-size: var(--container-w-large);
      margin-inline: auto;
      padding-block: var(--size-10);
    }

    .contact-content {
      display: grid;
      /* grid-template-columns: minmax(min-content, 1fr) minmax(1fr, 30rem); */
      grid-template-columns: minmax(min-content, 1fr) minmax(24rem, 1fr);
      gap: var(--size-9);
    }

    .contact-text-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--size-1);
    }
  }
</style>
