---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;

import "@styles/normalize-reset.css";
import "@styles/global.css";
import MainNav from "@components/MainNav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6f29ff" />
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="theme-color" content="#6f29ff" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <MainNav />

    <div class="container">
      <slot />
    </div>

    <footer></footer>

    <style>

    </style>
  </body>
</html>
